html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  transition: fill 0.4s ease;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.img-to-bg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  // &>img {
  //    width: 0;
  //    height: 0;
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    opacity: 0;
  //    visibility: hidden;
  //  }

  // &>picture img {
  //    width: 0;
  //    height: 0;
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    opacity: 0;
  //    visibility: hidden;
  //  }
}
